.idea
/vendor
/deployment/vendor
/reports
/.env
/public/*
!/public/version.php
/private/*
!/private/typo3conf
/private/typo3conf/*
!/private/typo3conf/*.php
/var
/profile
tmp

!.ddev/.gitignore

.php_cs.cache
.php-cs-fixer.cache
aliasDomainId.txt
ispconfig.env

.setup
.setup-host

node_modules

*.log
/*.xsd
